<!-- Form container -->
<div ng-if="!authCtrl.user" class="container">
<!-- Form header -->
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 text-center"></div>
    <h2>Reset your password</h2><!-- class = "formHeader" -->
  </div>
<!-- Form content -->
  <form>
    <div class="row">
      <div class="col-xs-12 form-group">
        <label class="formInputLabel">Email</label>
        <input type = "email" class="formInputBox" ng-model="authCtrl.email"> 
      </div>
    </div>

<!-- Form submission button -->
    <div class="row form-group">
      <div class="col-xs-6">
       <button class="btn blue" type="submit" ng-click="authCtrl.sendEmail()">Reset password</button>
      </div>
    </div>
  </form>

  <!-- <div class="alert alert-danger fade in alert-dismissable" ng-if = "authCtrl.success==2">
    Invalid or Missing Email Address
    <button class="close dismissButton" data-dismiss="alert">&times;</button>
  </div> -->
  <p ng-if = "authCtrl.success==2">Invalid or Missing Email Address</p>
</div>